*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    display: 100%;
}

.Upper-container{
    width: 60%;
    height: 10%;
    top: 10px;
    left: 20%;
    position: absolute;
}

.Upper-container1{
    top: 1px;
    width: 100px;
    height: 75%;
    bottom: 1px;
    /* position: absolute; */
    padding-top: 20px;
}

#Task{
    top: 10px;
    font-weight: bold;
    font-size: 40px;
    position: absolute;
}

#Lists{
    position: absolute;
    top: 10px;
    font-size: 40px;
    margin-left: 110px;
    opacity: 0.5;
}

.Upper-container2{
    width: 30px;
    height: 100%;
    padding-top: 40px;
    position: absolute;
    top: 0px;
    right: 0px;
}

#addlist{ 
    position: absolute;
    flex-direction: row;
    /* padding-top: 34px; */
    width: 150px;
    height: 100%;
    top: 71px;
    right: 0px;
    font-size: 25px;
    opacity: 0.5;

}

#circle{
    width: 20px;
    margin-top: 0px;
    /* height: fit-content; */
    position: absolute;
    margin-right: 145px;
    right: 25px;
    top: 70px;
}

.lower-container{
    margin-top: 13%;
    height: 100vh;
    width: 70%;
    border: 1px solid black;
    border-radius: 2%;
    box-sizing: border-box;
    box-shadow: 5px 5px 10px black;
    /* display: inline-block; */
    position: absolute;
    margin-left: 200px;
    

}

.card1{
    margin-top: 25px;
    height: 40vh;
    width: 25%;
    border: 2px solid black;
    border-radius: 5%;
    box-sizing: border-box;
    box-shadow: 5px 5px 10px black;
    /* display: inline-block; */
    position: absolute;
    margin-left: 25px;
}

.div1{
    position: absolute;
    top: 13px;
    left: 5px;
    font-size: 22px;
    color: #00A5EC;
    width: 85%;
    text-align: center;
    border-bottom: 1px solid gray;
}

.div2{
    position: absolute;
    top: -4px;
    left: 20px;
    font-size: 18px;
    color: grey;
    width: 80%;
    text-align: left;
    text-decoration: line-through;
}


.checkbox-cancelled{
    position: absolute;
    top: 70px;
    left: 8px;
    font-size: 18px;
    color: grey;
    width: 80%;
    text-align: left;
}

.div3{
    position: absolute;
    top: 100px;
    left: 8px;
    font-size: 18px;
    color: grey;
    width: 80%;
    text-align: left;
}

#check {
    height: 15px;
    width: 15px;

}

.card2{
    margin-top: 25px;
    height: 40vh;
    width: 25%;
    border: 2px solid black;
    border-radius: 5%;
    box-sizing: border-box;
    box-shadow: 5px 5px 10px black;
    /* display: inline-block; */
    position: absolute;
    margin-left: 37%;
    
}

.div4{
    position: absolute;
    top: 10px;
    left: 5px;
    font-size: 21px;
    color: #00A5EC;
    width: 85%;
    text-align: center;
    border-bottom: 1px solid gray;
}

.checkbox-cancelled1{
    position: absolute;
    top: 70px;
    left: 8px;
    font-size: 18px;
    color: grey;
    width: 80%;
    text-align: left;
}

.div5{
    position: absolute;
    top: -4px;
    left: 20px;
    font-size: 18px;
    color: grey;
    width: 80%;
    text-align: left;
    text-decoration: line-through;
}

.div6{
    position: absolute;
    top: 100px;
    left: 8px;
    font-size: 18px;
    color: grey;
    width: 80%;
    text-align: left;
}

.card3{
    margin-top: 25px;
    height: 40vh;
    width: 25%;
    border: 2px solid black;
    border-radius: 5%;
    box-sizing: border-box;
    box-shadow: 5px 5px 10px black;
    /* display: inline-block; */
    position: absolute;
    margin-left: 70%;
}

.div7{
    position: absolute;
    top: 15px;
    left: 5px;
    font-size: 18px;
    font-weight: bold;
    color: #00A5EC;
    width: 85%;
    text-align: center;
    border-bottom: 1px solid gray;
}

.checkbox-cancelled2{
    position: absolute;
    top: 70px;
    left: 8px;
    font-size: 18px;
    color: grey;
    width: 80%;
    text-align: left;
}

.div8{
    position: absolute;
    top: -4px;
    left: 20px;
    font-size: 18px;
    color: grey;
    width: 90%;
    text-align: left;
    text-decoration: line-through;
}

.div9{
    position: absolute;
    top: 100px;
    left: 8px;
    font-size: 18px;
    color: grey;
    width: 80%;
    text-align: left;
}

.card4{
    margin-top: 40%;
    height: 40vh;
    width: 25%;
    border: 2px solid black;
    border-radius: 5%;
    box-sizing: border-box;
    box-shadow: 5px 5px 10px black;
    /* display: inline-block; */
    position: absolute;
    margin-left: 25px;
}

.div10{
    position: absolute;
    top: 10px;
    left: 5px;
    font-size: 18px;
    font-weight: bold;
    color: #00A5EC;
    width: 95%;
    text-align: center;
    border-bottom: 1px solid gray;
}

.checkbox-cancelled3{
    position: absolute;
    top: 80px;
    left: 8px;
    font-size: 18px;
    color: grey;
    width: 80%;
    text-align: left;
}

.div11{
    position: absolute;
    top: -4px;
    left: 20px;
    font-size: 18px;
    color: grey;
    width: 90%;
    text-align: left;
    text-decoration: line-through;
}

.div12{
    position: absolute;
    top: 110px;
    left: 8px;
    font-size: 18px;
    color: grey;
    width: 80%;
    text-align: left;
}

.card5{
    margin-top: 40%;
    height: 40vh;
    width: 25%;
    border: 2px solid black;
    border-radius: 5%;
    box-sizing: border-box;
    box-shadow: 5px 5px 10px black;
    /* display: inline-block; */
    position: absolute;
    margin-left: 37%;
}

.div13{
    position: absolute;
    top: 15px;
    left: 5px;
    font-size: 20px;
    font-weight: bold;
    color: #00A5EC;
    width: 90%;
    text-align: center;
    border-bottom: 1px solid gray;
}

.checkbox-cancelled4{
    position: absolute;
    top: 70px;
    left: 8px;
    font-size: 18px;
    color: grey;
    width: 80%;
    text-align: left;
}

.div14{
    position: absolute;
    top: -4px;
    left: 20px;
    font-size: 18px;
    color: grey;
    width: 90%;
    text-align: left;
    text-decoration: line-through;
}

.div15{
    position: absolute;
    top: 100px;
    left: 8px;
    font-size: 18px;
    color: grey;
    width: 80%;
    text-align: left;
}

.not-show{
    filter: blur(6px);
    -webkit-filter: blur(6px);
    
}

.second-container{
    top: 15%;
    padding: 10px;
    position: absolute;
    height: 30vh;
    width: 350px;
    margin-left: 38%;
    box-sizing: border-box;
    border: 1px solid black;
    box-shadow: 7px 7px 10px grey;
    border-radius: 10px;
    background-color: #f2f2f2;

}

.upper-class{
    height: 10%;
    /* text-decoration: underline; */
}

.add-new-task{
    position: relative;
    padding-top: 5%;
    margin-left: 20px;
    top: 5%;
    font-size: 16px;
    font-weight: bold;
}

.cross{
    margin-left: 50%;
    margin-top: 10%;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
}

.lower-class{
    height: 20%;
}

#area1{
    height: 29px;
    width: 95%;
   
}
.button{
    margin-left: 55%;
    margin-top: 7%;
    height: 97%;
    width: 40%;
    background-color: #00A5EC;
    color: white;
    border: #00A5EC;
}

.not-show1{
    filter: blur(6px);
    -webkit-filter: blur(6px);
    
}

.third-page-Upper-container{
    width: 60%;
    height: 1px;
    padding: 2px;
    top: 10px;
    /* left: 40px; */
    position: absolute;
}

/* .third-page-Upper-container1{
    width: 60%;
    height: 10px;
    left: 30%;
    top: 0px;
    position: absolute;
    /* padding-top: 30px; */
 

#third-page-Task{
    font-weight: bold;
    font-size: 35px;
    top: 12px;
    left: 30%;
    position: absolute;
}

#third-page-Lists{
    font-size: 35px;
    color: #00A5EC;
    /* margin-left: 10px; */
    opacity: 0.5;
    top: 12px;
    left: 44%;
    position: absolute;
}

.third-page-lower-container{
    background-color: rgb(241, 241, 241);
    top: 13%;
    left: 13%;
    height: 85%;
    width: 78%;
    position: absolute;
    /* opacity: 0.5%; */
}

.back-btn{
    color: black;
    position: absolute;
    top: 10px;
    left: 30%;
}
.back{
    color: black;
    position: absolute;
    top: 16px;
    left: 34%;
}

.third-page-fa-fas-plus{
    position: absolute;
    left: 55%;
    font-size: 40px;
    top: 2px;
}

.third-page-add-task{
    position: absolute;
    top: 15px;
    left: 60%;
    font-size: 20px;
}

.third-page-lower-container-card1{
    margin-top: 75px;
    height: 40vh;
    width: 40%;
    border: 2px solid black;
    border-radius: 5%;
    box-sizing: border-box;
    box-shadow: 5px 5px 10px black;
    /* display: inline-block; */
    position: absolute;
    margin-left: 31%;
}

.third-page-lower-container-card1-trip1{
    position: relative;
    top: 10px;
}

.third-page-checkbox-cancelled{
    position: absolute;
    top: 70px;
    left: 8px;
    font-size: 18px;
    color: grey;
    width: 80%;
    text-align: left;

}

.third-page-div2{
    position: absolute;
    top: 0px;
    left: 45px;
    font-size: 18px;
    color: grey;
    width: 80%;
    text-align: left;
    text-decoration: line-through;
}

.third-page-fa-fas-check-square{
    position: absolute;
    left: 10px;
    font-size: 20px;
    top: 3px;
}

#third-page-check{
    position: absolute;
    left: 18px;
    height: 17px;
    width: 17px;
    /* font-size: 60px; */
    top: 41%;
}

.label-shopping{
    position: absolute;
    left: 55px;
    height: 17px;
    width: 17px;
    font-size: 18px;
    top: 39%;
    color: gray;
}

.not-show2{
    filter: blur(6px);
    -webkit-filter: blur(6px);
}